.footer-details{
    background-color: rgb(213, 213, 213);
    padding: 1rem ;
    text-align: center;
    /* position: fixed;
    left: 0;
    bottom: 0   ;
    width: 100%; */
}
.footer-details  > a{
    color: rgb(247, 8, 8);

}
@media (min-width:320px) and (max-width:425px){
    .footer-details{
        font-size: 1rem;
    }
}